# SQL (ii) (sesión 2)

![Mysql](https://labs.mysql.com/common/logos/mysql-logo.svg)

# Inicialización y carga de paquetes

Esta hoja muestra cómo acceder a bases de datos SQL y también a conectar la salida con Jupyter/Colab. Las partes en SQL también se pueden realizar directamente en MySQL ejecutando el programa `mysql` del entorno de ejecución.

Instalación de los paquetes Python necesarios:

In [1]:
!sudo apt-get update -qq

"sudo" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [2]:
!sudo apt-get install -y -q apt-utils dialog libmysqlclient-dev mysql-client p7zip pkg-config

"sudo" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [3]:
RunningInCOLAB = 'google.colab' in str(get_ipython()) if hasattr(__builtins__,'__IPYTHON__') else False

In [4]:
if RunningInCOLAB:
  !sudo apt-get install -y mysql-server
  !sudo service mysql start
  !mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"

In [5]:
%pip install sqlalchemy mysqlclient ipython-sql

Requirement already satisfied: sqlalchemy in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (2.0.36)
Requirement already satisfied: mysqlclient in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (2.2.4)
Requirement already satisfied: ipython-sql in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: prettytable in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.28.0)
Requirement already satisfied: sqlparse in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\x542ua\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\x542ua\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%load_ext sql
#%config SqlMagic.feedback = False # Evitar que muestre el número de filas
%config SqlMagic.autopandas=True
%config SqlMagic.displaycon=False

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline
matplotlib.style.use('ggplot')

In [8]:
import os
import sys
db_hostname = os.getenv("DB_HOSTNAME") or ("localhost" if RunningInCOLAB else "mysql")
if'vscode' in sys.modules or os.getenv('VSCODE_PID') is not None:
    db_hostname = "localhost"

In [9]:
%env DATABASE_URL=mysql://root:root@{db_hostname}/?charset=utf8mb4&local_infile=1

env: DATABASE_URL=mysql://root:root@localhost/?charset=utf8mb4&local_infile=1

 - Format: 7zipped
 - Files:
   - **badges**.xml
       - UserId, e.g.: "420"
       - Name, e.g.: "Teacher"
       - Date, e.g.: "2008-09-15T08:55:03.923"
   - **comments**.xml
       - Id
       - PostId
       - Score
       - Text, e.g.: "@Stu Thompson: Seems possible to me - why not try it?"
       - CreationDate, e.g.:"2008-09-06T08:07:10.730"
       - UserId
   - **posts**.xml
       - Id
       - PostTypeId
          - 1: Question
          - 2: Answer
       - ParentID (only present if PostTypeId is 2)
       - AcceptedAnswerId (only present if PostTypeId is 1)
       - CreationDate
       - Score
       - ViewCount
       - Body
       - OwnerUserId
       - LastEditorUserId
       - LastEditorDisplayName="Jeff Atwood"
       - LastEditDate="2009-03-05T22:28:34.823"
       - LastActivityDate="2009-03-11T12:51:01.480"
       - CommunityOwnedDate="2009-03-11T12:51:01.480"
       - ClosedDate="2009-03-11T12:51:01.480"
       - Title=
       - Tags=
       - AnswerCount
       - CommentCount
       - FavoriteCount
   - **posthistory**.xml
	   - Id
	   - PostHistoryTypeId
			- 1: Initial Title - The first title a question is asked with.
			- 2: Initial Body - The first raw body text a post is submitted with.
			- 3: Initial Tags - The first tags a question is asked with.
			- 4: Edit Title - A question's title has been changed.
			- 5: Edit Body - A post's body has been changed, the raw text is stored here as markdown.
			- 6: Edit Tags - A question's tags have been changed.
			- 7: Rollback Title - A question's title has reverted to a previous version.
			- 8: Rollback Body - A post's body has reverted to a previous version - the raw text is stored here.
			- 9: Rollback Tags - A question's tags have reverted to a previous version.
			- 10: Post Closed - A post was voted to be closed.
			- 11: Post Reopened - A post was voted to be reopened.
			- 12: Post Deleted - A post was voted to be removed.
			- 13: Post Undeleted - A post was voted to be restored.
			- 14: Post Locked - A post was locked by a moderator.
			- 15: Post Unlocked - A post was unlocked by a moderator.
			- 16: Community Owned - A post has become community owned.
			- 17: Post Migrated - A post was migrated.
			- 18: Question Merged - A question has had another, deleted question merged into itself.
			- 19: Question Protected - A question was protected by a moderator
			- 20: Question Unprotected - A question was unprotected by a moderator
			- 21: Post Disassociated - An admin removes the OwnerUserId from a post.
			- 22: Question Unmerged - A previously merged question has had its answers and votes restored.
		- PostId
		- RevisionGUID: At times more than one type of history record can be recorded by a single action.  All of these will be grouped using the same RevisionGUID
		- CreationDate: "2009-03-05T22:28:34.823"
		- UserId
		- UserDisplayName: populated if a user has been removed and no longer referenced by user Id
		- Comment: This field will contain the comment made by the user who edited a post
		- Text: A raw version of the new value for a given revision
			- If PostHistoryTypeId = 10, 11, 12, 13, 14, or 15  this column will contain a JSON encoded string with all users who have voted for the PostHistoryTypeId
			- If PostHistoryTypeId = 17 this column will contain migration details of either "from <url>" or "to <url>"
		- CloseReasonId
			- 1: Exact Duplicate - This question covers exactly the same ground as earlier questions on this topic; its answers may be merged with another identical question.
			- 2: off-topic
			- 3: subjective
			- 4: not a real question
			- 7: too localized
   - **postlinks**.xml
     - Id
     - CreationDate
     - PostId
     - RelatedPostId
     - PostLinkTypeId
       - 1: Linked
       - 3: Duplicate
   - **users**.xml
     - Id
     - Reputation
     - CreationDate
     - DisplayName
     - EmailHash
     - LastAccessDate
     - WebsiteUrl
     - Location
     - Age
     - AboutMe
     - Views
     - UpVotes
     - DownVotes
   - **votes**.xml
     - Id
     - PostId
     - VoteTypeId
        - ` 1`: AcceptedByOriginator
        - ` 2`: UpMod
        - ` 3`: DownMod
        - ` 4`: Offensive
        - ` 5`: Favorite - if VoteTypeId = 5 UserId will be populated
        - ` 6`: Close
        - ` 7`: Reopen
        - ` 8`: BountyStart
        - ` 9`: BountyClose
        - `10`: Deletion
        - `11`: Undeletion
        - `12`: Spam
        - `13`: InformModerator
     - CreationDate
     - UserId (only for VoteTypeId 5)
     - BountyAmount (only for VoteTypeId 9)

Descargar todos los CSVs:

In [52]:
!wget https://github.com/dsevilla/bd2-data/raw/main/es.stackoverflow/es.stackoverflow.csv.7z.001 -O - > es.stackoverflow.csv.7z
!wget https://github.com/dsevilla/bd2-data/raw/main/es.stackoverflow/es.stackoverflow.csv.7z.002 -O - >> es.stackoverflow.csv.7z

SYSTEM_WGETRC = c:/progra~1/wget/etc/wgetrc
syswgetrc = C:\Program Files (x86)\GnuWin32/etc/wgetrc
--2024-10-17 17:28:35--  https://github.com/dsevilla/bd2-data/raw/main/es.stackoverflow/es.stackoverflow.csv.7z.001
Resolviendo github.com... 140.82.121.3
Connecting to github.com|140.82.121.3|:443... conectado.
OpenSSL: error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version
No se pudo establecer la conexi�n SSL.
SYSTEM_WGETRC = c:/progra~1/wget/etc/wgetrc
syswgetrc = C:\Program Files (x86)\GnuWin32/etc/wgetrc
--2024-10-17 17:28:35--  https://github.com/dsevilla/bd2-data/raw/main/es.stackoverflow/es.stackoverflow.csv.7z.002
Resolviendo github.com... 140.82.121.3
Connecting to github.com|140.82.121.3|:443... conectado.
OpenSSL: error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol version
No se pudo establecer la conexi�n SSL.

In [53]:
!7zr x -aoa es.stackoverflow.csv.7z
!rm es.stackoverflow.csv.7z

"7zr" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
"rm" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [55]:
%%sql
DROP SCHEMA IF EXISTS stackoverflow;
CREATE SCHEMA stackoverflow CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

1 rows affected.
1 rows affected.

Empty DataFrame
Columns: []
Index: []

In [56]:
%%sql
USE stackoverflow;

0 rows affected.

Empty DataFrame
Columns: []
Index: []

Se tiene que habilitar esto para que se permita importar CSVs.

In [57]:
%%sql
SET GLOBAL local_infile = true;

0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [58]:
%%sql
DROP TABLE IF EXISTS PostsPart;
CREATE TABLE PostsPart (
    Id INT,
    AcceptedAnswerId INT NULL DEFAULT NULL,
    AnswerCount INT DEFAULT 0,
    Body TEXT,
    ClosedDate DATETIME(6) NULL DEFAULT NULL,
    CommentCount INT DEFAULT 0,
    CommunityOwnedDate DATETIME(6) NULL DEFAULT NULL,
    ContentLicense TEXT NULL DEFAULT NULL,
    CreationDate DATETIME(6) NULL DEFAULT NULL,
    FavoriteCount INT DEFAULT 0,
    LastActivityDate DATETIME(6) NULL DEFAULT NULL,
    LastEditDate DATETIME(6) NULL DEFAULT NULL,
    LastEditorDisplayName TEXT,
    LastEditorUserId INT NULL DEFAULT NULL,
    OwnerDisplayName TEXT,
    OwnerUserId INT NULL DEFAULT NULL,
    ParentId INT NULL DEFAULT NULL,
    PostTypeId INT, -- 1 = Question, 2 = Answer
    Score INT DEFAULT 0,
    Tags TEXT,
    Title TEXT,
    ViewCount INT DEFAULT 0,
    PRIMARY KEY(Id)
)
CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci
PARTITION BY KEY(Id)
PARTITIONS 6;

0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [59]:
%%sql
LOAD DATA LOCAL INFILE "Posts.csv" INTO TABLE PostsPart
CHARACTER SET utf8mb4
COLUMNS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES
(Id,
@AcceptedAnswerId,
@AnswerCount,
Body,
@ClosedDate,
@CommentCount,
@CommunityOwnedDate,
ContentLicense,
CreationDate,
@FavoriteCount,
@LastActivityDate,
@LastEditDate,
LastEditorDisplayName,
@LastEditorUserId,
OwnerDisplayName,
@OwnerUserId,
@ParentId,
PostTypeId,
Score,
Tags,
Title,
@ViewCount)
SET ParentId = nullif (@ParentId, ''),
ClosedDate = nullif(@ClosedDate, ''),
LastEditorUserId = nullif(@OLastEditorUserId, ''),
LastActivityDate = nullif(@LastActivityDate, ''),
LastEditDate = nullif(@LastEditDate, ''),
AcceptedAnswerId = nullif (@AcceptedAnswerId, ''),
OwnerUserId = nullif(@OwnerUserId, ''),
LastEditorUserId = nullif(@LastEditorUserId, ''),
CommunityOwnedDate = nullif(@CommunityOwnedDate, ''),
FavoriteCount = if(@FavoriteCount = '',0,@FavoriteCount),
CommentCount = if(@CommentCount = '',0,@CommentCount),
ViewCount = if(@ViewCount = '',0,@ViewCount),
AnswerCount = if(@AnswerCount = '',0,@AnswerCount)
;

410346 rows affected.

Empty DataFrame
Columns: []
Index: []

In [60]:
%%sql
select count(*) from PostsPart;

1 rows affected.

   count(*)
0    410346

In [61]:
%%sql
select Id,Title,CreationDate from PostsPart LIMIT 2;

2 rows affected.

,Id,Title,CreationDate
0,5,¿Cómo separar las palabras que contiene un str...,2015-10-30 01:15:27.267
1,11,,2015-10-30 14:43:43.737

In [62]:
%%sql
DROP TABLE IF EXISTS Users;
CREATE TABLE Users (
    Id INT,
    AboutMe TEXT,
    AccountId INT,
    CreationDate DATETIME(6) NULL DEFAULT NULL,
    DisplayName TEXT,
    DownVotes INT DEFAULT 0,
    LastAccessDate DATETIME(6) NULL DEFAULT NULL,
    Location TEXT,
    Reputation INT DEFAULT 0,
    UpVotes INT DEFAULT 0,
    Views INT DEFAULT 0,
    WebsiteUrl TEXT,
    PRIMARY KEY(Id)
)
CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [63]:
%%sql
LOAD DATA LOCAL INFILE "Users.csv" INTO TABLE Users
CHARACTER SET utf8mb4
COLUMNS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES
(Id,AboutMe,@AccountId,@CreationDate,DisplayName,DownVotes,LastAccessDate,Location,
 Reputation,UpVotes,Views,WebsiteUrl)
SET LastAccessDate = nullif(@LastAccessDate,''),
CreationDate = nullif(@CreationDate,''),
AccountId = nullif(@AccountId, '')
;

319535 rows affected.

Empty DataFrame
Columns: []
Index: []

In [64]:
%%sql
select count(*) from Users;

1 rows affected.

   count(*)
0    319535

In [65]:
%%sql
select * from Users LIMIT 2;

2 rows affected.

,Id,AboutMe,AccountId,CreationDate,DisplayName,DownVotes,LastAccessDate,Location,Reputation,UpVotes,Views,WebsiteUrl
0,-1,"<p>Hola, no soy una persona real.</p><br/><br/...",-1,2015-10-26 21:36:24.767,Comunidad,22504,None,en la granja de servidores,1,10211,2516,
1,1,<p>Dev #2 who helped create Stack Overflow cur...,2,2015-10-26 22:50:12.710,Geoff Dalgas,0,None,"Corvallis, OR",101,0,2917,http://stackoverflow.com

In [66]:
%%sql
DROP TABLE IF EXISTS Tags;
CREATE TABLE Tags (
    Id INT,
    Count INT DEFAULT 0,
    ExcerptPostId INT NULL DEFAULT NULL,
    TagName TEXT,
    WikiPostId INT NULL DEFAULT NULL,
    PRIMARY KEY(Id)
)
CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [67]:
%%sql
LOAD DATA LOCAL INFILE "Tags.csv" INTO TABLE Tags
CHARACTER SET utf8mb4
COLUMNS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES
(Id,Count,@ExcerptPostId,TagName,@WikiPostId)
SET WikiPostId = nullif(@WikiPostId, ''),
ExcerptPostId = nullif(@ExcerptPostId, '')
;

3048 rows affected.

Empty DataFrame
Columns: []
Index: []

In [68]:
%%sql
DROP TABLE IF EXISTS Comments;
CREATE TABLE Comments (
    Id INT,
    ContentLicense TEXT NULL DEFAULT NULL,
    CreationDate DATETIME(6) NULL DEFAULT NULL,
    PostId INT NULL DEFAULT NULL,
    Score INT DEFAULT 0,
    Text TEXT,
    UserDisplayName TEXT,
    UserId INT NULL DEFAULT NULL,
    PRIMARY KEY(Id)
)
CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [69]:
%%sql
LOAD DATA LOCAL INFILE "Comments.csv" INTO TABLE Comments
CHARACTER SET utf8mb4
COLUMNS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES
(Id,ContentLicense,@CreationDate,@PostId,Score,Text,@UserDisplayName,@UserId)
SET UserId = nullif(@UserId, ''),
PostId = nullif(@PostId, ''),
CreationDate = nullif(@CreationDate,''),
UserDisplayName = nullif(@UserDisplayName,'')
;

(MySQLdb.InternalError) (2, "File 'Comments.csv' not found (Errcode: 2)")
[SQL: LOAD DATA LOCAL INFILE "Comments.csv" INTO TABLE Comments
CHARACTER SET utf8mb4
COLUMNS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES
(Id,ContentLicense,@CreationDate,@PostId,Score,Text,@UserDisplayName,@UserId)
SET UserId = nullif(@UserId, ''),
PostId = nullif(@PostId, ''),
CreationDate = nullif(@CreationDate,''),
UserDisplayName = nullif(@UserDisplayName,'')
;]
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [70]:
%%sql
SELECT Count(*) FROM Comments;

1 rows affected.

   Count(*)
0         0

In [71]:
%%sql
SELECT * FROM Comments LIMIT 2;

0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [72]:
%%sql
DROP TABLE IF EXISTS Votes;
CREATE TABLE Votes (
    Id INT,
    BountyAmount INT DEFAULT 0,
    CreationDate DATETIME(6) NULL DEFAULT NULL,
    PostId INT NULL DEFAULT NULL,
    UserId INT NULL DEFAULT NULL,
    VoteTypeId INT,
    PRIMARY KEY(Id)
)
CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [73]:
%%sql
LOAD DATA LOCAL INFILE "Votes.csv" INTO TABLE Votes
CHARACTER SET utf8mb4
COLUMNS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
ESCAPED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES
(Id,@BountyAmount,@CreationDate,@PostId,@UserId,VoteTypeId)
SET UserId = nullif(@UserId, ''),
PostId = nullif(@PostId, ''),
BountyAmount = if(@BountyAmount = '',0,@BountyAmount),
CreationDate = nullif(@CreationDate, '')
;

787607 rows affected.

Empty DataFrame
Columns: []
Index: []

In [74]:
%%sql
USE stackoverflow

0 rows affected.

Empty DataFrame
Columns: []
Index: []

In [75]:
%%sql
SHOW TABLES;

5 rows affected.

  Tables_in_stackoverflow
0                comments
1               postspart
2                    tags
3                   users
4                   votes

In [76]:
%%sql
EXPLAIN SELECT * FROM PostsPart;

1 rows affected.

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PostsPart,"p0,p1,p2,p3,p4,p5",ALL,None,None,None,None,360241,100.0,None

In [77]:
%%sql
EXPLAIN SELECT * FROM PostsPart WHERE Id = 5;

1 rows affected.

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PostsPart,p0,const,PRIMARY,PRIMARY,4,const,1,100.0,None

In [78]:
%%sql
SELECT * FROM PostsPart PARTITION(p0) LIMIT 10;

10 rows affected.

,Id,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,ContentLicense,CreationDate,FavoriteCount,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
0,5,208.0,7,<p>¿Cuál es la forma más eficiente de separar ...,None,1,None,CC BY-SA 3.0,2015-10-30 01:15:27.267,0,...,,729.0,,24,NaN,1,37,<c++><string>,¿Cómo separar las palabras que contiene un str...,37867
1,11,NaN,0,<p>En el primer caso:</p><br/><br/><pre><code>...,None,2,None,CC BY-SA 3.0,2015-10-30 14:43:43.737,0,...,,25.0,,23,10.0,2,25,,,0
2,17,NaN,0,"<p>Para realizar esta operación, ejecuta <code...",None,0,None,CC BY-SA 3.0,2015-10-30 20:36:12.323,0,...,,21.0,,24,16.0,2,5,,,0
3,23,NaN,0,<p><em>voy a sumarme con la parte de la pregun...,None,0,None,CC BY-SA 3.0,2015-10-31 02:54:43.877,0,...,,25.0,,25,12.0,2,9,,,0
4,29,NaN,2,<p>Hoy intenté este algoritmo para medir a cua...,None,1,None,CC BY-SA 3.0,2015-11-01 15:43:35.463,0,...,,2224.0,,25,NaN,1,27,<javascript>,¿Por qué requestAnimationFrame tarda un tiempo...,468
5,35,43.0,3,<p>Debo guardar fechas y horas en diferentes t...,None,4,None,CC BY-SA 3.0,2015-11-02 15:27:46.350,0,...,,21.0,,21,NaN,1,39,<mysql><datetime><timestamp>,¿Debo utilizar un campo de tipo DateTime o Tim...,82088
6,41,42.0,2,<p>Estoy creando un proyecto <em>ASP NET MVC 5...,None,1,None,CC BY-SA 4.0,2015-11-02 17:16:43.263,0,...,user13558,NaN,,35,NaN,1,8,<asp.net><asp.net-mvc><librería><bower>,Agregar Bower a una aplicación ASP NET Empty,283
7,47,292.0,1,<p>He creado un proyecto vinculado (bounded) a...,None,2,None,CC BY-SA 3.0,2015-11-05 20:45:36.333,0,...,,65.0,,65,NaN,1,22,<javascript><google-apps-script><google-hoja-d...,Cómo puedo evitar que mi código de Google Apps...,3506
8,61,NaN,0,<p>El <code>checked</code> binding requiere un...,None,3,None,CC BY-SA 3.0,2015-11-18 18:06:29.423,0,...,,20.0,,20,60.0,2,4,,,0
9,79,NaN,0,<p>Este es el script que uso para revisar si u...,None,2,None,CC BY-SA 3.0,2015-12-01 17:20:24.377,0,...,,95.0,,95,74.0,2,5,,,0

In [79]:
%%sql
DROP TABLE IF EXISTS Posts;
CREATE TABLE Posts AS SELECT * FROM PostsPart;

0 rows affected.
410346 rows affected.

Empty DataFrame
Columns: []
Index: []

In [80]:
%%sql
DESCRIBE Posts;

22 rows affected.

                    Field         Type Null Key Default Extra
0                      Id          int   NO        None
1        AcceptedAnswerId          int  YES        None
2             AnswerCount          int  YES           0
3                    Body         text  YES        None
4              ClosedDate  datetime(6)  YES        None
5            CommentCount          int  YES           0
6      CommunityOwnedDate  datetime(6)  YES        None
7          ContentLicense         text  YES        None
8            CreationDate  datetime(6)  YES        None
9           FavoriteCount          int  YES           0
10       LastActivityDate  datetime(6)  YES        None
11           LastEditDate  datetime(6)  YES        None
12  LastEditorDisplayName         text  YES        None
13       LastEditorUserId          int  YES        None
14       OwnerDisplayName         text  YES        None
15            OwnerUserId          int  YES        None
16               ParentId          int  YES        None
17             PostTypeId          int  YES        None
18                  Score          int  YES           0
19                   Tags         text  YES        None
20                  Title         text  YES        None
21              ViewCount          int  YES           0

In [81]:
from sqlalchemy import text, create_engine
from typing import Any
from concurrent.futures import Future, ThreadPoolExecutor,as_completed
import os

class BackgroundExecution:
  def __init__(self):
    self.engine = create_engine(os.getenv("DATABASE_URL") or "ERROR")
    self.executor = ThreadPoolExecutor(max_workers=5)
    self.futures: list[Future] = []

  def _execute_query(self, query):
    with self.engine.connect() as connection:
      result = connection.execute(query)
      if result.returns_rows:
        return result.fetchall()
      return result.rowcount

  def pending_futures(self) -> list[Future]:
    return [f for f in self.futures if not f.done()]

  def all_done(self) -> bool:
    return all([f.done() for f in self.futures])

  def get_results(self) -> list[Any]:
    return [f.result() for f in as_completed(self.futures)]

  def execute_background_queries(self, queries: list[str]) -> list[Future]:
    """
    Execute the set of background queries in parallel, returning the list of futures
    """
    # Use a thread pool executor to execute the queries in parallel
    self.futures = [self.executor.submit(lambda q: self._execute_query(text(q)), query) for query in queries]
    return self.futures

  def get_futures(self) -> list[Future]:
    return self.futures

  def close(self):
    self.executor.shutdown()
    self.engine.dispose()

In [82]:
alter_table_posts = BackgroundExecution()
alter_table_posts.execute_background_queries([
'''
ALTER TABLE stackoverflow.Posts ADD PRIMARY KEY (Id);
''',
'''
ALTER TABLE stackoverflow.Posts ADD FOREIGN KEY(OwnerUserId) REFERENCES stackoverflow.Users(Id),
                                ADD FOREIGN KEY(ParentId) REFERENCES stackoverflow.Posts(Id)
;
'''
])

[<Future at 0x1f47c7bf6d0 state=running>,
 <Future at 0x1f47b216b10 state=running>]

Creamos un índice full-text para Tags de Posts.

In [83]:
full_text_index_posts_tags = BackgroundExecution()
full_text_index_posts_tags.execute_background_queries([
'''
CREATE FULLTEXT INDEX idx_tags ON stackoverflow.Posts(Tags);
'''
])

In [84]:
full_text_index_posts_tags.all_done()

False

In [85]:
# OJO: Se esperan los resultados de las queries para que se ejecuten
full_text_index_posts_tags.get_results()

[0]

In [1]:
%%sql
EXPLAIN SELECT * FROM Posts WHERE MATCH(Tags) AGAINST ('java');

UsageError: Cell magic `%%sql` not found.

In [87]:
%%sql
EXPLAIN SELECT COUNT(*) FROM Posts WHERE MATCH(Tags) AGAINST ('java');

1 rows affected.

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,None,None,None,None,None,None,None,None,None,Select tables optimized away

In [88]:
%%sql
EXPLAIN SELECT * FROM Posts WHERE Tags LIKE '%java%';

1 rows affected.

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,Posts,None,ALL,None,None,None,None,345198,11.11,Using where

In [89]:
%timeit %sql SELECT * FROM Posts WHERE MATCH(Tags) AGAINST ('java');

21719 rows affected.
21719 rows affected.
21719 rows affected.
21719 rows affected.
21719 rows affected.
21719 rows affected.
21719 rows affected.
21719 rows affected.
8.4 s ± 490 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [90]:
%timeit %sql SELECT * FROM Posts WHERE Tags LIKE '%java%';

55903 rows affected.
55903 rows affected.
55903 rows affected.
55903 rows affected.
55903 rows affected.
55903 rows affected.
55903 rows affected.
55903 rows affected.
12.8 s ± 1.75 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [91]:
# Comprobar si ha terminado la ejecución de las queries
alter_table_posts.all_done()

True

## Decline de Stackoverflow

En [esta dirección](https://hackernoon.com/the-decline-of-stack-overflow-7cb69faa575d#.pbf8nmlwx) se habla del decline de Stackoverflow. Por ejemplo, se habla de que el 77% de los usuarios sólo hacen una pregunta, que el 65% sólo responde a una pregunta y que sólo el 8% de los usuarios responden a más de una pregunta.

Los siguientes ejercicios están orientados a ver si esto también se cumple en stackoverflow en español.

En el artículo, se habla de una referencia, que se muestra a continuación. En una página web se listan un conjunto de trabajos de investigación que utilizan el conjunto de datos de stackoveflow para hacer estudios. La idea es reproducir esos resultados y ver cómo se comparan con los de español. Se muestran dos artículos.

## Estudio empírico de Stackoverflow

Artículo que se puede encontrar [aquí](http://ink.library.smu.edu.sg/cgi/viewcontent.cgi?article=2810&context=sis_research). La fuente original que lista varios artículos con fuente en los datos de Stackoverflow se puede ver [aquí](http://www.stackprinter.com/export?service=meta.stackoverflow&question=134495&printer=false&linktohome=true).

In [92]:
# http://stackoverflow.com/questions/19470099/view-pdf-image-in-an-ipython-notebook
class PDF(object):
  def __init__(self, pdf, size=(200,200)):
    self.pdf = pdf
    self.size = size

  def _repr_html_(self):
    return '<iframe src={0} width={1[0]} height={1[1]}></iframe>'.format(self.pdf, self.size)

  def _repr_latex_(self):
    return r'\includegraphics[width=\textwidth]{{{0}}}'.format(self.pdf)

In [93]:
PDF('http://ink.library.smu.edu.sg/cgi/viewcontent.cgi?article=2810&context=sis_research',size=(800,600))

# EJERCICIO: Mostrar cómo conseguir RQ1, RQ2, RQ3 y RQ4 (tablas y gráficas) del artículo anterior, y ver si la tendencia también se repite en Stackoverflow en español

In [95]:
from jupyter_core.paths import jupyter_config_dir
jupyter_config_dir()

'C:\\Users\\X542UA\\.jupyter'

# EJERCICIO (E1): Idear las tablas e índices necesarios para que la consulta de: dados un usuario y un tag (dado como su ID de tag), se pueda saber de la forma más rápida (en O(1)):

1. Qué posts tiene ese usuario de ese tag, y también,
2. Dado un tag, saber qué usuarios han preguntado sobre ese tag.

Rellenar las tablas. Mostrar con un EXPLAIN que realmente no se usa una búsqueda secuencial sobre la tabla.

In [10]:
%%sql

select * from Posts

(MySQLdb.OperationalError) (1046, 'No database selected')
[SQL: select * from Posts]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# EJERCICIO (E2): Crear una tabla de hechos `StackOverflowFacts` que incluya y ordene, por el campo `CreationDate`, todos los eventos de los datos obtenidos, Posts (diferenciad entre la creación de una pregunta y una respuesta), Users, Votes, Comments. Téngase en cuenta como se vió que puede haber información (p. ej. en la tabla Votes) que no mantenga la integridad referencial. Defina las claves ajenas y los índices que considere necesarios

# EJERCICIO (E3): Con la información de la tabla `StackOverflowFacts` (y sólo con esta), escriba una consulta SQL que calcule el tiempo medio en segundos, para todas las preguntas, entre que se produce la pregunta y su primera respuesta (si no tiene respuestas se ignora para el cálculo), y también entre la pregunta y la respuesta aceptada (si no tiene respuesta aceptada se ignora para el cálculo)

# EJERCICIO (E4): Muestre un histograma de tiempo hasta la primera respuesta que clasifique a las preguntas en grupos de número de días desde que se hace la pregunta hasta la primera respuesta el último periodo como "una semana o más"